<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<title>Save Person</title>
</head>

<body>

	<div class="container">
	
		<h3>Person adding</h3>
		<hr>
		<TABLE>

	
		<form action="#" th:action="@{/person/save}"
						 th:object="${person}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />

			<br/>Give name to your person:</label>
			<input type="text" th:field="*{name}" /><br/>

			<label>periods:</label>

			<select th:field="*{period}">
				<option th:each="p : ${periodList}" th:value="${p}" th:text="${p}" />
			</select>
			<br/>

			<label>social status:</label>
			<select th:field="*{socialStatus}">
				<option th:each="p : ${socialStatusList}" th:value="${p}" th:text="${p}" />
			</select>
			<br/>
			<label>sex:</label>
			<select th:field="*{sex}">
				<option th:each="p : ${sexList}" th:value="${p}" th:text="${p}" />
			</select>
			<br/>Description:</label>
			<input type="text" th:field="*{description}" /><br/>


			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>

		<form th:action="@{/person/save}"
			  th:object="${person}" method="post"
			  enctype="multipart/form-data"
		>
			...
			<div>

				<label>Photos: </label>
				<input type="fil" name="image" accept="image/png, image/jpeg" />

			</div>
			...
		</form>
	
		<hr>
		</TABLE>
		<a th:href="@{/person/list}">Back to Person List</a>
		
	</div>
</body>

</html>










