<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old Times</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


</head>
<body>
<h2>Hello:</h2>
<h3><span th:text="${param.guestName}"></span></h3>
Nice to meet you
<h4>Let's start your journey</h4>
<h5><a href="/person/list">Click here to go to the list</a></h5>

</body>
</html>