<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Person Directory</title>
</head>

<body>

<div class="container">

	<h3>Person Directory</h3>
	<hr>

	<!-- Add a button -->
	<a th:href="@{/person/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Person
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Period</th>
				<th>Social Status</th>
				<th>Sex</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempPerson : ${persons}">
			
				<td th:text="${tempPerson.period}" />
				<td th:text="${tempPerson.socialStatus}" />
				<td th:text="${tempPerson.sex}" />

				<td>
					<!-- Add "update" button/link -->
					<a th:href="@{/person/showFormForUpdate(personId=${tempPerson.id})}"
					   class="btn btn-info btn-sm">
						Update
					</a>

					<!-- Add "delete" button/link -->
					<a th:href="@{/person/delete(personID=${tempPerson.id})}"
					   class="btn btn-danger btn-sm"
					   onclick="if (!(confirm('Are you sure you want to delete this person?'))) return false">
						Delete
					</a>

					<a th:href="@{/person/showPerson(personId=${tempPerson.id})}"
					   class="btn btn-info btn-sm">
						View
					</a>
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



