<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Person Directory</title>
</head>

<body>

<div class="container">

	<h3>Person Directory</h3>
	<hr>

	<p class="h4 mb-4">Save Person</p>

	<form action="#" th:action="@{/person/save}"
		  th:object="${person}" method="POST">

		<input type="hidden" th:field="*{id}" />

		<input type="text" th:field="*{period}"
			   class="form-control mb-4 col-4" placeholder="First name">

		<input type="text" th:field="*{socialStatus}"
			   class="form-control mb-4 col-4" placeholder="Last name">

		<input type="text" th:field="*{sex}"
			   class="form-control mb-4 col-4" placeholder="Email">

		<button type="submit" class="btn btn-info col-2">Save</button>

	</form>
	<form th:action="@{/person/save}"
		  th:object="${person}" method="post"
		  enctype="multipart/form-data"
	>
		...
		<div>

			<label>Photos: </label>
			<input type="file" name="image" accept="image/png, image/jpeg" />

		</div>
		...
	</form>

	<hr>
	<a th:href="@{/person/list}">Back to Persons List</a>

</div>
</body>

</html>

</html>



