<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Old Times</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body>

    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
                <table>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" th:field="*{name}"></td>
                            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                                Error</td>
                        </tr>
                        <tr>
                            <td>surname:</td>
                            <td><input type="text" th:field="*{surname}"></td>
                            <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">surname
                                Error</td>
                        </tr>
                        <tr>
                            <<td>email:</td>
                            <td><input type="text" th:field="*{email}"></input></td>
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                                Error</td>
                        </tr>
                        <tr>
                            <td>password:</td>
                            <td><input type="text" th:field="*{password}"></input></td>
                            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password
                                Error</td>
                            <td>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </td>
                        </tr>
                    </table>
    </form>

</body>
</html>