<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old Times</title>
    <style type="text/css">
        label {
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        input[type=text], input[type=password], select {
            display: inline-block;
            width: 200px;
        }
        input[type=radio] {
            margin-left: 45px;
        }
        input[type=checkbox] {
            margin-right: 190px;
        }
        button {
            padding: 5px;
            margin: 10px;
        }
    </style>
</head>
<body>
<div align="left">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
        <label> name:</label>
        <input type="text" th:field="*{name}" /><br/>

        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Full name error</span>


        <label> surname:</label>
        <input type="text" th:field="*{surname}" /><br/>

        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{name}">Full name error</span>


        <label>E-mail:</label>
        <input type="text" th:field="*{email}" /><br/>

        <span th:if="${#fields.hasErrors('email')}" th:errors="*{name}">Full name error</span>

        <label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>

        <span th:if="${#fields.hasErrors('password')}" th:errors="*{name}">Full name error</span>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>